.container {
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.nav {
    padding: 10px;
    background-color: rgb(155, 6, 6);
    display: flex;
    justify-content: space-between;
}

.nav .logo{
    font-size: 30px;
    display: inline-block;
    margin-top: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

.nav-items {
    display: flex;
}

.nav-items li {
    display: block;
    color: white;
    padding: 10px;
}
.banner{
    margin-top: 2%;
    background-color: rgb(184 218 219);
    text-align: center;    
    padding: 1%;
    display: flex;
    justify-content: center;
}
.banner-block{
    font-size: 20px;
    text-align: left;
    margin: 1%;
}
.banner-block h2{
    margin-top: 1%;
}
.our-products {
    text-align: center;
}
.news{
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.news-block{
    border: 1px solid rgb(226, 226, 226);
    width: 20%;
}
.news img{
    width: 100%;
}
.news-description{
    margin: 5%;
}
.news-btn{
    background-color: rgb(155, 15, 5);
    color: #fff;
    border: none;
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
}
.footer{
    text-align: center;
    background-color: black;
    color: #fff;
    height: 100px;
    margin-top: 50px;
    width: auto;
}
.footer h3{
    padding-top: 35px;
    font-weight: lighter;
}